<!DOCTYPE html>

<html lang="en">
    <%include ./header.ejs%>
    <head>
        <meta charset="utf-8" />
        <title>The HTML5 Herald</title>
        <meta name="description" content="The HTML5 Herald" />
        <meta name="author" content="SitePoint" />
        <script>
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                var id_token = googleUser.getAuthResponse().id_token;
                console.log(id_token)
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
                $.ajax({
                    url: 'guest/login',
                    type: 'POST',
                    data: {
                        name:profile.getName(),
                        email:profile.getEmail(),
                        token:id_token,
                    },
                    success: function(data) {
                        console.log(data)
                        if(data.success){
                            Cookies.set('token',id_token);
                            window.location = data.data.view+"?token="+id_token
                        }
                    }
                });
            }
            
            function signIn() {
                var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signIn().then(function (googleUser) {
                    var profile = googleUser.getBasicProfile();
                    var id_token = googleUser.getAuthResponse().id_token;
                    console.log(id_token)
                    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                    console.log('Name: ' + profile.getName());
                    console.log('Image URL: ' + profile.getImageUrl());
                    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
                    $.ajax({
                        url: 'guest/login',
                        type: 'POST',
                        data: {
                            name:profile.getName(),
                            email:profile.getEmail(),
                            token:id_token
                        },
                        success: function(data) {
                        }
                    });
                });
            }
        </script>
    </head>

    <body>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </body>
    
</html>
