<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>The HTML5 Herald</title>
        <meta name="description" content="The HTML5 Herald" />
        <meta name="author" content="SitePoint" />
        <meta name="google-signin-client_id" content="333884088380-eolc44ikft8oroe90du4dniqeop96uaq.apps.googleusercontent.com">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script>
        // $(document).ready(function(){    
        //     var func = function(e, data) {   
        //         if(data.data.includes('?token='))   {
        //             return true
        //         }     
        //         data.data += "?token="+Cookies.get('token');
        //         return true;
        //     };
        //     $.ajaxSetup( {beforeSend: func} );   
        // } );
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                var token=auth2.currentUser.get().getAuthResponse().id_token
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                    $.ajax({
                        url: '/guest/logout?token='+token,
                        type: 'POST',
                        data: {
                            token:token
                        },
                        success: function(data) {
                            
                            setTimeout(function(){
                                window.location = '/'
                            },500)
                        }
                    });
                });
            }
            function onLoad() {
                gapi.load('auth2', function() {
                    gapi.auth2.init();
                });
            }
        </script>
    </head>
    <body>
            <a class="btn btn-primary" onclick="signOut();">Sign Out</a>
    </body>
</html>
