<%include ./header.ejs%>
<input type="number" class="form-control" placeholder="Code" aria-label="Code" id="twofacode" >
<button type="button" class="btn btn-primary" onclick="submitToken()">Submit</button>
<script>
    function submitToken(){
        var urlParams = new URLSearchParams(window.location.search);
        var token = urlParams.get('token');

        var auth2 = gapi.auth2.getAuthInstance();
        var email=auth2.currentUser.get().getBasicProfile().getEmail()
        $.ajax({
            url: '/guest/validate2Fa?token='+token,
            type: 'POST',
            data: {
                email:email,
                twoFaAuthToken:$("#twofacode").val(),
            },
            success: function(data) {
                if(data.success){
                    window.location = "/"+data.data.view+"?token="+token
                }
            }
        });
    }
</script>